@use "mixins";

.arrow {
    color: white;
    margin-top: 90px;
    

    @include mixins.desktop{
       margin-top: 200px;
       
        }
}

.arrow--black {
    @extend.arrow;
    color: black;
    margin-top:0px ;
    margin-bottom: 20px;
}