@use "navbar";
@use "variables" as var;
@use "mixins";
@use "arrow";

html {
    font-size: 14pt;
    font-family: "Times New Roman";
    
  }

  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    font-family:'Times New Roman', Times, serif;

  
  }
  .background-container {
    background-image: url("../assets/negative-space-black-forest-dawn.jpg");
      background-position: center;
      background-size: cover;
      text-align: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include mixins.desktop{
        flex-direction: row;
          
    }
    

 
  }

    .mainpage {
        height: 92vh;
        //width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;

        @include mixins.desktop{
          height: 95vh;
         
          }

    }
    .text-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 40px;
        margin-top: 250px;
        margin-bottom: 80px;

        @include mixins.desktop{
          margin-top: 300px;
        }
        

        h1  {
            color: var.$primary;
            font-family: 'Times New Roman', Times, serif;
            margin-bottom: 20px;
            font-weight: bold;
            font-size: 1.8rem;
            }
        
            p {
              color: var.$primary;
              font-size: 1.3rem;
              margin-top: 30px;
              
              
             
      
              @include mixins.desktop{
                margin-bottom: 45px;
              }
            }
          
    }
  //här slutar mainpage

    .aboutpage {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color: var.$primary;
        
    }
    
  h2 {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  

     .team {
       
      @include mixins.desktop{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        justify-content: center;
       
        
           
      }
      &__container {
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
       
        @include mixins.desktop{
         width: 33%;
         margin-left: 55px;
         margin-right: 55px;
             
        }
       
      }
    
        &__photo {
            height: 250px;
            border-radius: 50%;
            box-shadow: 0px 7px 30px rgba($color: #000000, $alpha: 0.7);
            margin: 20px;
            margin-top: -10px;

            @include mixins.desktop{
              height: 350px;
            }
          }

          &__text {
            margin-top: 10px ;
            margin-bottom: 10px;
            line-height: 1;
            font-size: 0.8rem;
            padding-bottom: 20px;
  
          }
        
          &__textcontainer {
            display: flex;
            align-items: center;
            background-color: lightgray;
            width: 80vw;
            height: 140px;
            border-radius: 3%;
            padding: 14%;
            
            @include mixins.desktop{
              width: auto;
             
              }
          }
          .citat {
            font-size: 50px;
          }
         
        }

        .contactpage {
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 1rem;
            padding-left: 20%;
            line-height: 2;
            padding-top:10% ;
            padding-bottom:10% ;
            background-color: black;
            color: var.$primary;
            

            @include mixins.desktop{
              flex-direction: row;
              
              justify-content: space-evenly;
              padding-top: 2% ;
              padding-bottom:4% ;
              padding-left: 0;
                
          }

            ul {
              list-style: none;
              

              @include mixins.desktop{
              
            
                  
            }
            }
           
          }