.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  padding: 0;
}
.dropdown-item {
  color: white;
  font-family: "times new roman", arial;
}
.navbar-toggler-icon {
  color: white;
}
